{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post">
        <h2>On Spot Register</h2>

        <div class="groups">

            <div class="left">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" name="phone" required>
                </div>

                <div class="form-group">
                    <label for="college_name">College Name:</label>
                    <input type="text" id="college_name" name="college_name" required>
                </div>
                
                
                <!-- <div class="form-group">
                    <label for="workshops">Workshop:</label>
                    <select id="workshops" name="workshop">
                        <option value="none">None</option>
                        {# for workshop in workshops #}
                        {# if workshop.disabled == False #}
                        <option value="{# workshop.event_name #}">{# workshop.event_name #}</option>
                        {# endif #}
                        {# endfor #}
                    </select>
                </div> -->
                <div class="form-group dxt">
                    <h3>Dextures Club:</h3>
                    {% for event in _dexturs %}
                    <label>
                        <input type="checkbox" name="events" value="{{ event }}">
                        {{ event }}
                    </label>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="college_name">Transaction ID</label>
                    <input type="text" id="transaction_id" name="transaction_id" />
                </div>
                
            </div>
            
            
            <div class="middle">
                <div class="form-group">
                    <label for="paid">Payment Method</label>
                    <select name="payment_method" id="payment_method">
                        <option value="cash">Cash</option>
                        <option value="upi">UPI</option>
                    </select>
                    <div class="paid">
                        <input type="checkbox" value="paid" name="paid">
                        <label for="paid">Paid</label>
                    </div>
                </div>
                <div class="reflection">
                    <div class="amount">
                        <label for="amount">Amount to pay</label>
                        <input type="integer" id="amount" name="amount" value="0">
                    </div>
                    <div class="cash">
                        Recieve the cash!!!
                    </div>
                    <div class="upi hidden">
                        <div class="sona hidden">
                            Free for you :)
                        </div>
                        <div class="qrs">
                            <img src="/static/qr200.png" alt="200 Rs. QR">
                        </div>
                    </div>
                </div>
            </div>


            <div class="right">

                <div class="form-group events_list">
                    <h3>Tech Events:</h3>
                    {% for event in _tech_events %}
                    <label>
                        <input type="checkbox" class="events" name="events" value="{{ event }}">
                        {{ event }}
                    </label>
                    {% endfor %}
                    <h3>Non Tech Events:</h3>
                    {% for event in _non_tech_events %}
                    <label>
                        <input type="checkbox" class="events" name="events" value="{{ event }}">
                        {{ event }}
                    </label>
                    {% endfor %}
                </div>
            </div>
        </div>


        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
<script defer>
    document.getElementById("email").addEventListener("keydown", () => {
        const email = document.getElementById("email").value;
        if (email.includes("cse@sonatech.ac.in") || email.includes("csd@sonatech.ac.in") || email.includes("aml@sonatech.ac.in")) {
            document.getElementById("amount").value = 0;
            // hide the qr and display the .sona as a block if 
            document.querySelector(".sona").className = "sona"
            document.querySelector(".qrs").className = "qrs hidden"
        } else {
            document.getElementById("amount").value = 200;
            // hide the qr and display the .sona as a block if 
            document.querySelector(".sona").className = "sona hidden"
            document.querySelector(".qrs").className = "qrs"
        }
    })
    document.getElementById("email").addEventListener("change", () => {
        const email = document.getElementById("email").value;
        if (email.includes("cse@sonatech.ac.in") || email.includes("csd@sonatech.ac.in") || email.includes("aml@sonatech.ac.in")) {
            document.getElementById("amount").value = 0;
            // hide the qr and display the .sona as a block if 
            document.querySelector(".sona").className = "sona"
            document.querySelector(".qrs").className = "qrs hidden"
        } else {
            document.getElementById("amount").value = 200;
            // hide the qr and display the .sona as a block if 
            document.querySelector(".sona").className = "sona hidden"
            document.querySelector(".qrs").className = "qrs"
        }
    })
    document.getElementById("payment_method").addEventListener("change", ()=> {
        if (document.getElementById("payment_method").value == "cash") {
            document.querySelector(".cash").className = "cash"
            document.querySelector(".upi").className = "upi hidden"
        } else {

            document.querySelector(".cash").className = "cash hidden"
            document.querySelector(".upi").className = "upi"
        }
    });
</script>
{% endblock %}